nav{
}

.listings{
	position: absolute;
	right:0px;
	top:70px;
	z-index: 999;
	height: 100vh;
	overflow-y: scroll;
	
			-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}


span.label{
	text-transform: uppercase;
}

ul{
	display: flex;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	
	li{
		padding-right: 20px;
	}
}

.list-group-item{
	margin-bottom: 10px;
	padding: 15px 25px;
	box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2)
}


/*------POPOVER SYTLES-----------*/

.leaflet-popup-content-wrapper{
border-radius: 0px !important;
padding:10px;	
}

.leaflet-popup-content{
	min-width: 280px;
	
}



/*------MEDIA QUERIES-----------*/


@media only screen and (max-width: 764px) {
  .listings{
	  
	position: absolute;
	right:0px;
	top:500px;
	z-index: 999;
	height: 40vh;
	overflow-y: scroll;
  }
}