name: Build & Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          npm i
          npm run build
        env:
          GRIDSOME_GOOGLE_API_KEY_FE: ${{ secrets.GRIDSOME_GOOGLE_API_KEY_FE}}
          GOOGLE_API_KEY_BE: ${{ secrets.GOOGLE_API_KEY_BE }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist
          COMMIT_MESSAGE: "Deploy to gh-pages"
          CLEAN: true
